@import "../../../sass/variables";
@import "../../../sass/mixins";

.button-wrapper {
  @include flex-center;
  box-sizing: border-box;
  height: 100%;
  .button {
    color: $tab-color;
    font-weight: $tab-font-weight;
    font-size: $tab-font-size;
    background-color: $tab-background-color;
    padding: 20px;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
      background-color: $color-primary-light;
    }
  }
}
