.base-header {
  @include flex-center;
  background-color: $color-primary-light;
  width: 100%;
  height: $header-height;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.base-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$header-height});
}
