@import "../../../sass/variables";

.tabsWrapper {
  max-width: $max-container-width;
  margin: 0 auto;
  padding: 20px;
  background-color: $background-color;
  color: $text-color;
  box-shadow: 0 4px 8px $box-shadow-color;
  border-radius: 8px;
  font-family: $font-stack;
  height: 100%;
  box-sizing: border-box;

  .MuiTab-root {
    color: $tab-color;
    font-weight: $tab-font-weight;
    font-size: $tab-font-size;
    background-color: $tab-background-color;
    min-width: 80px;
    border-radius: 8px 8px 0 0;
    &.Mui-selected {
      color: $tab-selected-color;
      border: 2px solid $tab-selected-border-color;
    }
  }

  .MuiTabs-indicator {
    background-color: $color-accent-2;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 10px;
  }
}
